{% extends "templates/base.njk" %}

{% block pageTitle %}ravens - Homepage{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">ravens</h1>
      <h2 class="govuk-heading-m">Nunjucks Demo</h2>
      <dl class="govuk-list">
        {% for binomial, common in catNames %}
          <dt class="govuk-body">{{ binomial }}</dt>
          <dd class="govuk-body">{{ common }}</dd>
        {% endfor %}
      </dl>

    </div>
  </div>

{% endblock %}
